#portada{

    text-align: center;
    text-decoration: none;
}
#portada h3{
    text-align: center;
    font-size: 20px;
    color: darkblue;
    text-decoration: none;
}

#contenido{

    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;


}

#contenido h2{
    text-align: center;
    font-size: 30px;
    color: darkblue;
    text-decoration: underline;
}

#imagenes h2{
    text-align: center;
    font-size: 30px;
    color: darkblue;
    text-decoration: underline;
}

h1{
    text-align: center;
    font-size: 50px;
    color: darkblue;
}
h2{
    text-align: center;
    font-size: 30px;
    color: darkblue;
    text-decoration: underline;
}
h3{
    text-align: center;
    font-size: 20px;
    color: darkblue;
    text-decoration: underline;
}
p{
    font-size: 20px;
    color: black;
}
ul{
    font-size: 20px;
    color: black;
}
li{
    font-size: 20px;
    color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
